<div class="button-bar">
	<div class="pull-left" id="actions-div">
		<a role="button" class="btn btn-primary hidden-sm hidden-md hidden-lg" ng-click="insert()"><i class="fa fa-plus"></i></a>
		<a role="button" class="btn btn-danger  hidden-sm hidden-md hidden-lg" ng-click="delete()"><i class="fa fa-trash"></i></a>
		<a role="button" class="btn btn-primary hidden-xs" ng-click="insert()"><i class="fa fa-plus"></i> {{::lang.l.btnNew}}</a>
		<a role="button" class="btn btn-danger  hidden-xs" ng-click="delete()"><i class="fa fa-trash"></i> {{::lang.l.btnDelete}}</a>
	</div>
	<form>
		<div class="input-group pull-right" id="search-div">
			<input type="text" class="form-control" placeholder="{{::lang.l.edtSearch}}" ng-model="$parent.searchCriteria" ng-keypress="($event.which === 13) ? search($parent.searchCriteria) : 0">
			<div class="input-group-btn">
				<a role="button" class="btn btn-default" ng-click="search(searchCriteria)"><i class="fa fa-search"></i></a>
				<a role="button" class="btn btn-default" ng-if="::filters" ng-click="showFiltersBtnClick()"><i class="fa fa-filter"></i></a>
				<a role="button" class="btn btn-default" ng-if="::config.showRefresh" ng-click="refresh(page)"><i class="fa fa-refresh"></i></a>
			</div>
		</div>
	</form>
</div>

<div class="fadein fadeout filters-container" ng-if="::filters" ng-show="showFilters">
	<div class="row">
		<div class="col-md-4">
			<ui-filter-column filters="filtersCol1"></ui-filter-column>
		</div>
		<div class="col-md-4">
			<ui-filter-column filters="filtersCol2"></ui-filter-column>
		</div>
		<div class="col-md-4">
			<ui-filter-column filters="filtersCol3"></ui-filter-column>
		</div>		
	</div>
	<div class="row">
			<div class="filters-footer">
				<div class="pull-right">
					<a role="button" class="btn btn-default" type="submit" style="margin-right: 8px;" ng-click="filter()"><i class="fa fa-filter"></i> Filtrar</a>
					<a role="button" class="btn btn-default" ng-click="clearFilters()"><i class="fa fa-times"></i> Limpar Filtros</a>
				</div>
			</div>
		</div>
</div>

<div class="fixed-table-container">
	<div class="loading-dim" ng-show="dataset.showDim">
		<div class="loading-box"><i class="fa fa-spinner fa-pulse fa-fw fa-2x"></i></div>
	</div>
	<div class="scrollable">
		<table class="table table-striped table-hover data-grid">
			<tr class="grid-header">
				<th class="record-check">
					<div class="th-inner"><input type="checkbox" ng-checked="checkedAll" ng-click="checkAll()" ng-show="dataset.rows.length > 0"></div>
				</th>
				<th ng-repeat="f in visibleFields track by $index" width="{{::f.fieldSize}}%" class="col_{{f.name}}">
					<div class="th-inner {{f.alignment == 'center' ? 'text-center' : ''}} {{f.sortable ? 'sortable ' + (f.direction ? f.direction : 'both') : ''}}" ng-click="sort(f)" ng-if="::!f.htmlTitle">
						{{::lang.l["mod_" + config.path]["fields"][f.name] || f.displayLabel}}
					</div>

					<div class="th-inner {{f.alignment == 'center' ? 'text-center' : ''}}" ng-bind-html="f.htmlTitle" ng-if="::f.htmlTitle">
						{{::lang.l["mod_" + config.path]["fields"][f.name] || f.displayLabel}}
					</div>
				</th>
			</tr>
			<tr ng-repeat="item in dataset.rows track by $index">
				<td class="record-check"><input type="checkbox" ng-model="item.checked"></td>
				<td class="table-data-field col_{{f.name}} {{f.alignment == 'center' ? 'text-center' : ''}}" ng-click="edit(item)" ng-repeat="f in visibleFields track by $index" width="{{::f.fieldSize}}%"><ng-bind-html ng-bind-html="item[f.name]" ng-if="::f.getHtmlValue"></ng-bind-html>{{f.getHtmlValue ? '' : item[f.name]}}</td>
			</tr>
		</table>
	</div>
	<div class="no-record" ng-show="!!dataset && !dataset.error && !dataset.loading && (!dataset.rows || dataset.rows.length == 0)">
		{{::lang.l.msgNoRecordFound}}
	</div>

	<div class="error-loading" ng-show="!!dataset && !!dataset.error">
		{{::lang.l.msgLoadingErrorGrid}}
	</div>

	<div class="loading" ng-show="dataset.loading">
		<div class="loading-box">
			<i class="fa fa-spinner fa-pulse fa-fw"></i> {{::lang.l.msgLoadingGrid}}
		</div>
	</div>
</div>

<div class="pagination btn-group" ng-show="!!dataset && !dataset.loading && dataset.pagecount > 1">
	<ul>
		<li ng-repeat="i in pages" class="{{i.active ? 'active' : ''}} {{i.disabled ? 'disabled': ''}} {{i.hideSM ? 'hidden400' : ''}}">
			<a ng-click="goto(i.page)">
				<i class="fa fa-angle-double-left" ng-if="i.first"></i><i class="fa fa-angle-double-right" ng-if="i.last"></i>  {{i.first || i.last ? '' : i.page}}
			</a>
		</li>
	</ul>
	<div class="pull-right" ng-if="showGoto">
		<a role="button" id="gotoButton" class="btn btn-default" data-toggle="modal" data-target="#gotoPage"></i> {{::lang.l.btnGoto}}</a>
	</div>
</div>

<div class="modal fade" id="gotoPage" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{::lang.l.msgGotoPageTitle}}</h4>
			</div>
			<div class="modal-body form-group">
				{{::lang.l.msgGotoPageText}}
				<input id="edtGoto" class="form-control" autofocus type="number" min="1" max="{{dataset.pagecount}}" ng-model="gotoPage" onkeydown="if (event.keyCode == 13) document.getElementById('btnGotoOk').click()">
			</div>
			<div class="modal-footer">
				<button id="btnGotoOk" type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="!gotoPage" ng-click="goto(gotoPage)">
					{{::lang.l.btnOk}}
				</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">{{::lang.l.btnCancel}}</button>
			</div>
		</div>
	</div>
</div>

<ui-edit-modal visible="showEditModal"></ui-edit-modal>