<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <form>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-disabled="showEditDim">&times;</button>
                <h4 class="modal-title">{{editTitle}}</h4>
            </div>
            <div class="modal-body">
                <div class="loading-dim" ng-show="showEditDim">
                    <div class="loading-box"><i class="fa fa-spinner fa-pulse fa-fw fa-2x"></i></div>
                </div>

                <div class="form-group">
                        <ng-include src="editPath" />
                </div>
                <ui-error-message ng-show="showEditError">{{editErrorMsg}}</ui-error-message>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-ng-click="save()" ng-disabled="showEditDim || editDisable">
                    {{::lang.l.btnSave}}
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="showEditDim">
                    {{::lang.l.btnCancel}}
                </button>
            </div>
        </form>
        </div>
    </div>
</div>
